<!DOCTYPE html>
<html>
<head>
    <title>Redirecting to PayU...</title>
</head>
<body onload="document.forms['payu_form'].submit();">
    <h3>Redirecting to PayU, please wait...</h3>
    <form name="payu_form" action="{{ action }}" method="POST">
        <input type="hidden" name="key" value="{{ key }}">
        <input type="hidden" name="txnid" value="{{ txnid }}">
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="productinfo" value="{{ productinfo }}">
        <input type="hidden" name="firstname" value="{{ firstname }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="phone" value="{{ phone }}">
        <input type="hidden" name="surl" value="{{ surl }}">
        <input type="hidden" name="furl" value="{{ furl }}">
        <input type="hidden" name="hash" value="{{ hashh }}">
        <input type="hidden" name="service_provider" value="{{ service_provider }}">
    </form>
</body>
</html>
